@{
    ViewBag.Title = "Code9 Workshop";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Code9 projekat je nastao iz višegodišnje uspešne saradnje internacionalne IT komapnije Levi9 IT Services i udruženja studenata elektrotehnike Evrope – Lokalni komitet Novi Sad (EESTEC LC Novi Sad). Code9 čini niz radionica na temu web programiranja i automatskog testiranja. Radionice su koncipirane da studentima bliže pokažu koji su trendovi u ovim oblastima u svetu i kod nas, kao i ono što će ih čekati nakon završetka fakulteta po zapošljavanju. Velika zainteresovanost studenata razlog je što će se radionice organizovati četvrtu godinu za redom. Code9 do sada su uspešno pohađali studenti Fakulteta tehničkih nauka i Prirodno matematičkog fakulteta u Novom Sadu, kao i studenti Tehničkog fakulteta “Mihajlo Pupin” u Zrenjaninu. Kursevi se sastoje od 4 radionice, koje će se održavati sukcesivno subotama u trajanju od 4 časa (jedna radionica traje 4 časa).</p>
