@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Levi9 IT Services<br />
    Trifkovicev trg 6 <br />
    21000 Novi Sad <br/>
</address>

<address>
    <strong>Code9 workshop: </strong><a href="mailto:code9-workshops@levi9.com">code9-workshops@levi9.com</a><br />
    <strong>Kristina Ivkovic: </strong><a href="mailto:k.ivkovic@levi9.com">k.ivkovic@levi9.com</a><br />
    <strong>Nemanja Babin: </strong><a href="mailto:n.babin@levi9.com">n.babin@levi9.com</a><br />
</address>